GrupoComponente/Connected Services/ServiceReferenceUsers/Users.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GrupoComponente.Servicio.Models.ViewModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GrupoComponente.Servicio.Models.ViewModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUsersIndexViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UsersIndexViewModel" nillable="true" type="tns:UsersIndexViewModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsersIndexViewModel" nillable="true" type="tns:ArrayOfUsersIndexViewModel" />
  <xs:complexType name="UsersIndexViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsersIndexViewModel" nillable="true" type="tns:UsersIndexViewModel" />
</xs:schema>