GrupoComponente/Connected Services/ServiceReferenceUsers/Users2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51728/Servicios/Users.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GrupoComponente.Servicio.Models.ViewModels" />
  <xs:import schemaLocation="http://localhost:51728/Servicios/Users.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GrupoComponente.Servicio.Models.BindingModels" />
  <xs:element name="getUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GrupoComponente.Servicio.Models.ViewModels" minOccurs="0" name="getUsersResult" nillable="true" type="q1:ArrayOfUsersIndexViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GrupoComponente.Servicio.Models.BindingModels" minOccurs="0" name="getUserByIdResult" nillable="true" type="q2:UsersEditBindingModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GrupoComponente.Servicio.Models.BindingModels" minOccurs="0" name="model" nillable="true" type="q3:UsersCreateBindingModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GrupoComponente.Servicio.Models.BindingModels" minOccurs="0" name="model" nillable="true" type="q4:UsersEditBindingModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>