GrupoComponente/Connected Services/ServiceReferenceUsers/Users3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GrupoComponente.Servicio.Models.BindingModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GrupoComponente.Servicio.Models.BindingModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UsersEditBindingModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsersEditBindingModel" nillable="true" type="tns:UsersEditBindingModel" />
  <xs:complexType name="UsersCreateBindingModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsersCreateBindingModel" nillable="true" type="tns:UsersCreateBindingModel" />
</xs:schema>